*{
    margin:1vh 1vw 1vh 1vw ;
    padding: 0;
}
.navbar{
    background-color: rgba(75, 2, 2, 0.199);
    display:inline-block;
    list-style-type: none;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 100%;
}
.nav-list li{
    display:inline-block;
    list-style-type: none;
}
.nav-list li a{
    font-size: larger;
    text-decoration: none;
    color: black;
}
.container{
   max-width: 1200px;
   margin: 0 auto; 
}
.container> h2{
    padding: 20px 0;
}
.product-info{
border: medium;

}
.pr{
     margin: 20px 10px;
}
.pr1,.pr2,.pr3,.pr4,.pr5{
display:block;
margin: 2px 4px;
}
 .pr5{
   
    padding: 5px 5px;
 }
.product:hover{
    border: none;
    box-shadow: 2px 2px 4px;
}
.product-info{
    display: inline-block;
    padding:20px;
     width: 100%;
 position: relative;
    }
 
.product-remove{
    bottom: 100px;
    position: absolute;
    right : 20px;
    padding: 5px 10px;
    background-color: green;
}
.product-remove:hover{
    background-color: white;
    color: green;
    font-weight: 600;
    border: 1px solid green;

}
.product-quantity > input{
 width: 40px;
 padding: 2px;
 text-align: center;
}
.cart-total{
    border: 1px solid silver;
}
.footer{
    background: rgba(1, 14, 22, 0.945);
    color: #8a8a8a;
    font-size: 12px;
    padding: 5px 0 10px;
}
.footer p{ 
    color: #8a8a8a;
}
.footer h3{
color: #fff;
margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3{
   display: inline-block;
  min-width: 250px;
   margin-bottom: 20px;
}

.table-show {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .table-show thead tr {
    background-color: #98002e;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .table-show th,
  .table-show td {
    padding: 12px 15px;
  }
  
.updateContainer{
    background-color:#009879;
    width: 40%;
    text-align: center;
    margin:auto;
    color: white;
    border-radius: 3vh;
}

.updateContainer input {
  padding-top: 2vh;
  margin: 3vh 0 3vh 0 ;
}
.formContainer{
  padding-top: 4%;
}

  .table-show tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  
  .table-show tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }


  /*div*/
  .cart-total {
    display: inline-block;
}
.cart-total h2{
    display: inline-block;
}